*{
    margin: 0;
    padding: 0;
}
ul>li{
    list-style: none;
}
#tabBox{
    box-sizing: border-box;
    margin: 0 auto;
    width: 500px;
}
#navBox{
    display: flex;
    position: relative;
    top:1px;
}
#navBox li{
    box-sizing: border-box;
    line-height: 35px;
    padding:0 20px ;
    border: 1px solid #999;
    margin-right: 20px;

}
#navBox li.active{
    border-bottom-color: #fff;
}
#tabBox>div{
  display: none;
  box-sizing: border-box;  
  height: 150px;
  
  border: 1px solid #999;
  padding: 10px;
}
#tabBox>div.active{
    display: block;
}